@model List<SpecialistViewModel>
@{
    ViewData["Title"] = "Specialists";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Our Trained Specialists</h1>
</div>

<div class="card-deck row">
    @foreach (var specialist in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="@specialist.ImageUrl" alt="@specialist.FullName">
                <div class="card-body">
                    <h5 class="card-title">@specialist.FullName</h5>
                    <p class="card-text">@specialist.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Services:
                        @foreach (var service in specialist.Services)
                        {
                            <span>@service</span>
                        }
                    </small>
                </div>
            </div>
        </div>

    }
</div>