@model AppointmentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2 class="heading-margin text-center text-warning font-weight-bolder">Appointment Details</h2>
    <div class="card col-sm-12 offset-lg-2 col-lg-8 bg-light border border-warning">
        <article class="card-body p-5">
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Date</dt>
                <dd class="font-weight-bolder">@Model.Date</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Patient Name</dt>
                <dd class="font-weight-bolder">@Model.PatientName</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Full Address</dt>
                <dd class="font-weight-bolder">@Model.Address</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">City</dt>
                <dd class="font-weight-bolder">@Model.City</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Email</dt>
                <dd class="font-weight-bolder">@Model.Email</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Phone number</dt>
                <dd class="font-weight-bolder">@Model.PhoneNumber</dd>
            </dl>
            <dl class="param text-center">
                <dt class="text-warning font-weight-bolder">Service</dt>
                <dd class="font-weight-bolder">@Model.Service</dd>
            </dl>
            <dl class="item-property text-center">
                <dt class="text-warning font-weight-bolder">Additional information</dt>
                <dd class="font-weight-bolder">
                    @if (Model.AdditionalInfo != null && Model.AdditionalInfo.Length > 0)
                    {
                        <p>
                            @Model.AdditionalInfo
                        </p>
                    }
                    else
                    {
                        <p>
                            No additional info
                        </p>
                    }
                </dd>
            </dl>
            <hr>
            <a href="/Appointments/Finish?id=@Model.Id" class="btn btn-lg btn-success text-center">Finish appointment</a>
            <a href="/Appointments/Mine" class="btn btn-lg btn-warning text-center">Back</a>
        </article>
    </div>
</div>