@using MediService.ASP.NET_Core.Services.Specialists
@using MediService.ASP.NET_Core.Infrastructure

@model IEnumerable<AppointmentViewModel>

@inject ISpecialistService Specialists
@{
    ViewData["Title"] = "My appointments";
    var isSpecialist = Specialists.IsSpecialist(User.Id());
}

<div class="container">
    <h2 class="heading-margin text-center">My appointments</h2>
    @if (!Model.Any())
    {
        <h3 class="text-center">You do not have any appointments.</h3>
    }
    else
    {
        <table class="table table-info">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Is it done</th>
                    <th scope="col">Is it canceled</th>
                    <th scope="col">Service</th>
                    @if (isSpecialist)
                    {
                        <th scope="col">Patient name</th>
                    }
                    else
                    {
                        <th scope="col">Specialist name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.Time</td>
                        <td>@appointment.IsDone</td>
                        <td>@appointment.IsCanceled</td>
                        <td>@appointment.ServiceName</td>
                        <td>@appointment.Name</td>
                        <td><a href="/Appointments/Details?@appointment.Id">View more</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

