@using MediService.ASP.NET_Core.Data.Models

@using static MediService.ASP.NET_Core.Areas.Admin.AdminConstants;

@inject ISpecialistService specialists
@inject UserManager<User> userManager

@{
    var isSpecialist = specialists.IsSpecialist(User.Id());
    var isAdmin = this.User.IsInRole(AdminRoleName);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="view">
    <header>
        <div id="nav-bar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
            <h3 class="my-0 mr-lg-auto font-weight-bolder">
                <a href="/" class="navbar-expand">MediSevice</a>
            </h3>
            @if (User.Identity.IsAuthenticated && !isAdmin)
            {
                <span class="navbar-text font-weight-bolder text-warning font-italic">Welcome, @userManager.GetUserName(User)</span>
                @if (!isSpecialist)
                {
                    <a class="p-2 text-dark font-weight-bolder" href="/Appointments/Make">Make appointment</a>
                }
                <a class="p-2 text-dark font-weight-bolder" href="/Appointments/Mine">My appointments</a>
            }
            <nav class="my-2 my-md-2 mr-md-2">
                <a class="p-2 text-dark font-weight-bolder" href="/Specialists/All">Specialists</a>
                <a class="p-2 text-dark font-weight-bolder" href="/Services/All">Services</a>
                <a class="p-2 text-dark font-weight-bolder" href="/Subscriptions/All">Subscriptions</a>
                @if (!isSpecialist && !isAdmin)
                {
                    <a class="p-2 text-dark font-weight-bolder" href="/Reviews/Create">Rate us</a>
                }
                <a class="p-2 text-dark font-weight-bolder" href="/Home/Faq">F.A.Q</a>
            </nav>
            @if (isAdmin)
            {
                <div class="dropdown" style="margin-right:10px">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administration
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Admin/Services/Add">Add Service</a>
                        <a class="dropdown-item" href="/Admin/Specialists/Add">Add Specialist</a>
                        <a class="dropdown-item" href="/Admin/Subscriptions/Add">Add Subscription</a>
                        <a class="dropdown-item btn-success" href="/Admin/Statistics/GetStatistics">View Statistics</a>
                    </div>
                </div>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-warning m-sm-1" href="/Account/Register">Register</a>

                <a class="btn btn-warning m-sm-1" href="/Account/Login">Login</a>
            }
            else
            {
                <a class="btn btn-danger" href="/Account/Logout">Logout</a>
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.ContainsKey("Error"))
            {
                <span class="alert alert-danger text-center">
                    <span>@TempData["Error"]</span>
                </span>
            }
            else if (TempData.ContainsKey("Success"))
            {
                <span class="alert alert-success text-center">
                    <span>@TempData["Success"]</span>
                </span>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - MediService - <a asp-area="" asp-controller="Home" asp-action="Index" class="text-warning">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
